{% layout settings.customer_layout %}
			<div class="row start-row">
				<div id="section-headline" class="col-xs-48">
					<h2>{{ 'customer.reset_password.title' | t }}</h2>
				</div>
			</div>
			<div class="row">
				<article class="col-lg-31 col-md-26">
					<div id="content" class="full left white-bg">
                      {% form 'reset_customer_password' %}

                        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

                        {% include 'form-errors-custom' %}

                        <div class="full left">
                          <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label><br />
                          <input type="password" value="" name="customer[password]" id="ResetPassword" {% if form.errors contains "password" %} class="error"{% endif %}>
                        </div>

                        <div class="full left">
                          <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label><br />
                          <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>
                        </div>

                        <div class="text-center"><br />
                          <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
                        </div>

                      {% endform %}
					</div>
				</article>
				<aside class="col-lg-15 col-md-20 col-md-offset-2">
                  <div class="aside-inside aside-account">
						<div class="full left single-headline">
							<h4>{{ 'customer.account.details' | t }}</h4>
						</div>
						<div class="full left white-bg">
						  <h5>{{ customer.name }}</h5>

                          {% if customer.default_address != nil %}
                            <p>
                            {{ customer.default_address.address1 }}<br>

                            {% if customer.default_address.address2 != "" %}
                              {{ customer.default_address.address2 }}<br>
                            {% endif %}

                            {% if customer.default_address.city != "" %}
                              {{ customer.default_address.city }}<br>
                            {% endif %}

                            {% if customer.default_address.province_code != "" %}
                              {{ customer.default_address.province_code | upcase }}<br>
                            {% endif %}

                            {% if customer.default_address.zip != "" %}
                              {{ customer.default_address.zip | upcase }}<br>
                            {% endif %}

                            {% if customer.default_address.country != "" %}
                              {{ customer.default_address.country }}<br>
                            {% endif %}

                            {% if customer.default_address.phone != "" %}
                              {{ customer.default_address.phone }}
                            {% endif %}
                            </p>

                          {% endif %}

                          <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
                    	</div>

                  </div>
				</aside>
			</div>